.wrapper {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  flex-basis: auto;
  display: inline;
  text-align: center;
  border: 2px solid white;
}