body{margin:0;}
.wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.item{
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  height: 20vh;
  grid-column: span 12;
}

.item2 {
  height: 60vh;
  grid-column: span 4;
}

.item3 {
  grid-column: span 8;
}

.item6 {
  heigh: 20vh;
  grid-column: span 12;
}
